grid-l {
    display: grid;
    grid-gap: var(--s1);
    align-content: start;
    grid-template-columns: 100%;
    grid-column-end: 13;
    grid-column-start: 3;
}

grid-l.narrow {
    grid-column-start: 4;
    grid-column-end: 12;
}
grid-l.align-wide {
    grid-column-start: 2;
    grid-column-end: 14;
}

grid-l.align-full {
    grid-column-start: 1;
    grid-column-end: 15;
}

