#header {
  --space: var(--size-500);
  padding: var(--space) 0;
  background-color: get-color('light');
  &.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
  }
  &.sticky{
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .cluster {
    justify-content: space-between;
    align-items: center;

    .logo {
      max-width: 100px;
    }

    nav {
      ul {
        padding-left: 0;
        list-style: none;
      }
    }
  }
}