.grid {
  /* ↓ Establish a grid context */
  display: grid;
  /* ↓ Set a gap between grid items equal to the
  first point on the modular scale */
  grid-gap: var(--s1);
  grid-template-columns: 100%;
}
.grid.aboveMin {
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--measure) / 3), 1fr));
}