@charset "UTF-8";
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Tinos:400,500,600,700,800&display=swap");
.bg-primary {
  background: #223c6d;
}

.bg-primary-shade {
  background: #566d98;
}

.bg-secondary {
  background: #0E3B93;
}

.bg-secondary-shade {
  background: #2374ab;
}

.bg-tertiary {
  background: #F18366;
}

.bg-quaternary {
  background: #A44C35;
}

.bg-dark {
  background: #1a1a1a;
}

.bg-grey {
  background: #c4c4c4;
}

.bg-light {
  background: #f3f3f3;
}

.color-primary {
  color: #223c6d;
}

.color-primary-shade {
  color: #566d98;
}

.color-secondary {
  color: #0E3B93;
}

.color-secondary-shade {
  color: #2374ab;
}

.color-tertiary {
  color: #F18366;
}

.color-quaternary {
  color: #A44C35;
}

.color-dark {
  color: #1a1a1a;
}

.color-grey {
  color: #c4c4c4;
}

.color-light {
  color: #f3f3f3;
}

.box-block {
  display: block;
}

.box-flex {
  display: flex;
}

.box-hide {
  display: none;
}

.box-show {
  display: inherit;
}

.font-base {
  font-family: Helvetica, Arial, sans-serif;
}

.gap-top-300 {
  margin-top: 0.96rem;
}

.gap-top-400 {
  margin-top: 1.2rem;
}

.gap-top-500 {
  margin-top: 1.5rem;
}

.gap-top-600 {
  margin-top: 1.92rem;
}

.gap-top-700 {
  margin-top: 2.4rem;
}

.gap-top-900 {
  margin-top: 3.6rem;
}

.gap-right-300 {
  margin-right: 0.96rem;
}

.gap-right-400 {
  margin-right: 1.2rem;
}

.gap-right-500 {
  margin-right: 1.5rem;
}

.gap-right-600 {
  margin-right: 1.92rem;
}

.gap-right-700 {
  margin-right: 2.4rem;
}

.gap-right-900 {
  margin-right: 3.6rem;
}

.gap-bottom-300 {
  margin-bottom: 0.96rem;
}

.gap-bottom-400 {
  margin-bottom: 1.2rem;
}

.gap-bottom-500 {
  margin-bottom: 1.5rem;
}

.gap-bottom-600 {
  margin-bottom: 1.92rem;
}

.gap-bottom-700 {
  margin-bottom: 2.4rem;
}

.gap-bottom-900 {
  margin-bottom: 3.6rem;
}

.gap-left-300 {
  margin-left: 0.96rem;
}

.gap-left-400 {
  margin-left: 1.2rem;
}

.gap-left-500 {
  margin-left: 1.5rem;
}

.gap-left-600 {
  margin-left: 1.92rem;
}

.gap-left-700 {
  margin-left: 2.4rem;
}

.gap-left-900 {
  margin-left: 3.6rem;
}

.pad-top-300 {
  padding-top: 0.96rem;
}

.pad-top-400 {
  padding-top: 1.2rem;
}

.pad-top-500 {
  padding-top: 1.5rem;
}

.pad-top-600 {
  padding-top: 1.92rem;
}

.pad-top-700 {
  padding-top: 2.4rem;
}

.pad-top-900 {
  padding-top: 3.6rem;
}

.pad-right-300 {
  padding-right: 0.96rem;
}

.pad-right-400 {
  padding-right: 1.2rem;
}

.pad-right-500 {
  padding-right: 1.5rem;
}

.pad-right-600 {
  padding-right: 1.92rem;
}

.pad-right-700 {
  padding-right: 2.4rem;
}

.pad-right-900 {
  padding-right: 3.6rem;
}

.pad-bottom-300 {
  padding-bottom: 0.96rem;
}

.pad-bottom-400 {
  padding-bottom: 1.2rem;
}

.pad-bottom-500 {
  padding-bottom: 1.5rem;
}

.pad-bottom-600 {
  padding-bottom: 1.92rem;
}

.pad-bottom-700 {
  padding-bottom: 2.4rem;
}

.pad-bottom-900 {
  padding-bottom: 3.6rem;
}

.pad-left-300 {
  padding-left: 0.96rem;
}

.pad-left-400 {
  padding-left: 1.2rem;
}

.pad-left-500 {
  padding-left: 1.5rem;
}

.pad-left-600 {
  padding-left: 1.92rem;
}

.pad-left-700 {
  padding-left: 2.4rem;
}

.pad-left-900 {
  padding-left: 3.6rem;
}

.stack-300 {
  z-index: 0;
}

.stack-400 {
  z-index: 10;
}

.stack-500 {
  z-index: 20;
}

.stack-600 {
  z-index: 30;
}

.stack-700 {
  z-index: 40;
}

.text-300 {
  font-size: 0.96rem;
}

.text-400 {
  font-size: 1.2rem;
}

.text-500 {
  font-size: 1.5rem;
}

.text-600 {
  font-size: 1.92rem;
}

.text-700 {
  font-size: 2.4rem;
}

.text-900 {
  font-size: 3.6rem;
}

.weight-light {
  font-weight: 300;
}

.weight-regular {
  font-weight: 400;
}

.weight-bold {
  font-weight: 700;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.width-quarter {
  width: 25%;
}

.width-third {
  width: 33.3333333333%;
}

@media screen and (min-width: 36em) {
  .sm\:box-block {
    display: block;
  }

  .sm\:box-flex {
    display: flex;
  }

  .sm\:box-hide {
    display: none;
  }

  .sm\:box-show {
    display: inherit;
  }

  .sm\:text-300 {
    font-size: 0.96rem;
  }

  .sm\:text-400 {
    font-size: 1.2rem;
  }

  .sm\:text-500 {
    font-size: 1.5rem;
  }

  .sm\:text-600 {
    font-size: 1.92rem;
  }

  .sm\:text-700 {
    font-size: 2.4rem;
  }

  .sm\:text-900 {
    font-size: 3.6rem;
  }

  .sm\:width-full {
    width: 100%;
  }

  .sm\:width-half {
    width: 50%;
  }

  .sm\:width-quarter {
    width: 25%;
  }

  .sm\:width-third {
    width: 33.3333333333%;
  }
}
@media screen and (min-width: 48em) {
  .md\:box-block {
    display: block;
  }

  .md\:box-flex {
    display: flex;
  }

  .md\:box-hide {
    display: none;
  }

  .md\:box-show {
    display: inherit;
  }

  .md\:text-300 {
    font-size: 0.96rem;
  }

  .md\:text-400 {
    font-size: 1.2rem;
  }

  .md\:text-500 {
    font-size: 1.5rem;
  }

  .md\:text-600 {
    font-size: 1.92rem;
  }

  .md\:text-700 {
    font-size: 2.4rem;
  }

  .md\:text-900 {
    font-size: 3.6rem;
  }

  .md\:width-full {
    width: 100%;
  }

  .md\:width-half {
    width: 50%;
  }

  .md\:width-quarter {
    width: 25%;
  }

  .md\:width-third {
    width: 33.3333333333%;
  }
}
@media screen and (min-width: 62em) {
  .lg\:box-block {
    display: block;
  }

  .lg\:box-flex {
    display: flex;
  }

  .lg\:box-hide {
    display: none;
  }

  .lg\:box-show {
    display: inherit;
  }

  .lg\:text-300 {
    font-size: 0.96rem;
  }

  .lg\:text-400 {
    font-size: 1.2rem;
  }

  .lg\:text-500 {
    font-size: 1.5rem;
  }

  .lg\:text-600 {
    font-size: 1.92rem;
  }

  .lg\:text-700 {
    font-size: 2.4rem;
  }

  .lg\:text-900 {
    font-size: 3.6rem;
  }

  .lg\:width-full {
    width: 100%;
  }

  .lg\:width-half {
    width: 50%;
  }

  .lg\:width-quarter {
    width: 25%;
  }

  .lg\:width-third {
    width: 33.3333333333%;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --measure: 60ch;
}

/*----------------------------------------
    # Media Queries
----------------------------------------*/
/*----------------------------------------
    # Fonts
----------------------------------------*/
@font-face {
  font-family: "leikoregular";
  src: url("./assets/fonts/leiko-regular-webfont.woff2") format("woff2"), url("./assets/fonts/leiko-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-family: "leikoregular", sans-serif;
  font-weight: 100;
  color: #223c6d;
}

h1, .h1 {
  font-size: var(--s4);
}

h2, .h2 {
  font-size: var(--s3);
}

h3, .h3 {
  font-size: var(--s2);
}

h4, .h4 {
  font-size: var(--s1);
}

h5, .h5 {
  font-size: var(--s0);
}

h6, .h6 {
  font-size: var(--s0);
}

a {
  color: currentColor;
}

p {
  font-size: var(--s0);
  font-family: "Tinos", sans-serif;
  font-weight: 100;
  color: #223c6d;
}

@supports (display: grid) {
  .grid-row {
    align-items: stretch;
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: [full-start] minmax(calc(calc(100% - 1500px) / 2), 1fr) [main-start] repeat(12, [col-start] 1fr) [main-end] minmax(calc(calc(100% - 1500px) / 2), 1fr) [full-end];
    grid-template-rows: auto;
    margin: 0 auto;
    grid-gap: 1.2rem;
    max-width: 1920px;
    position: relative;
  }
  .grid-row .grid-layout {
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(min-content, max-content);
    grid-row: auto;
    grid-gap: 1.2rem;
  }
  .grid-row .grid-layout.standard {
    grid-column-start: 3;
    grid-column-end: 13;
  }
  @media (max-width: 767px) {
    .grid-row .grid-layout.standard {
      grid-column-start: 2;
      grid-column-end: 14;
    }
  }
  .grid-row .grid-layout.alignwide {
    grid-column-start: 2;
    grid-column-end: 14;
  }
  .grid-row .grid-layout.alignfull {
    grid-column-start: 1;
    grid-column-end: 15;
  }
  .grid-row .grid-layout.zero-rem {
    grid-gap: 0;
  }
  .grid-row .grid-layout.one-rem {
    grid-gap: 1rem;
  }
  .grid-row .grid-layout.two-rem {
    grid-gap: 2rem;
  }
  .grid-row .grid-layout.three-rem {
    grid-gap: 3rem;
  }
  .grid-row .grid-layout.four-rem {
    grid-gap: 4rem;
  }
  .grid-row .grid-layout *.center, .grid-row .block.has-one-column *.center {
    text-align: center;
  }
  .grid-row .grid-layout.has-one-column, .grid-row .block.has-one-column.has-one-column {
    grid-template-columns: 1fr;
  }
  .grid-row .grid-layout.has-one-column.eighty > *, .grid-row .block.has-one-column.has-one-column.eighty > * {
    max-width: 80%;
    margin: auto;
  }
  @media (max-width: 767px) {
    .grid-row .grid-layout.has-one-column.eighty > *, .grid-row .block.has-one-column.has-one-column.eighty > * {
      max-width: 100%;
    }
  }
  .grid-row .grid-layout.has-one-column.sixty > *, .grid-row .block.has-one-column.has-one-column.sixty > * {
    max-width: 60%;
    margin: auto;
  }
  @media (max-width: 767px) {
    .grid-row .grid-layout.has-one-column.sixty > *, .grid-row .block.has-one-column.has-one-column.sixty > * {
      max-width: 100%;
    }
  }
  .grid-row .grid-layout.has-one-column.fifty > *, .grid-row .block.has-one-column.has-one-column.fifty > * {
    max-width: 50%;
    margin: auto;
  }
  @media (max-width: 767px) {
    .grid-row .grid-layout.has-one-column.fifty > *, .grid-row .block.has-one-column.has-one-column.fifty > * {
      max-width: 100%;
    }
  }
  .grid-row .grid-layout.has-one-column.eighty.left > *:nth-child(1n+1), .grid-row .grid-layout.has-one-column.sixty.left > *:nth-child(1n+1), .grid-row .grid-layout.has-one-column.fifty.left > *:nth-child(1n+1), .grid-row .block.has-one-column.has-one-column.eighty.left > *:nth-child(1n+1), .grid-row .block.has-one-column.has-one-column.sixty.left > *:nth-child(1n+1), .grid-row .block.has-one-column.has-one-column.fifty.left > *:nth-child(1n+1) {
    margin-left: 0;
  }
  .grid-row .grid-layout.has-one-column.eighty.right > *:nth-child(1n+1), .grid-row .grid-layout.has-one-column.sixty.right > *:nth-child(1n+1), .grid-row .grid-layout.has-one-column.fifty.right > *:nth-child(1n+1), .grid-row .block.has-one-column.has-one-column.eighty.right > *:nth-child(1n+1), .grid-row .block.has-one-column.has-one-column.sixty.right > *:nth-child(1n+1), .grid-row .block.has-one-column.has-one-column.fifty.right > *:nth-child(1n+1) {
    margin-right: 0;
  }
  .grid-row .grid-layout.has-two-columns, .grid-row .grid-layout .block.has-two-columns {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 920px) {
    .grid-row .grid-layout.has-two-columns:not(.ignore-large-tablet), .grid-row .grid-layout .block.has-two-columns:not(.ignore-large-tablet) {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 767px) {
    .grid-row .grid-layout.has-two-columns:not(.ignore-tablet), .grid-row .grid-layout .block.has-two-columns:not(.ignore-tablet) {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 575px) {
    .grid-row .grid-layout.has-two-columns:not(.ignore-phablet), .grid-row .grid-layout .block.has-two-columns:not(.ignore-phablet) {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 480px) {
    .grid-row .grid-layout.has-two-columns:not(.ignore-mobile), .grid-row .grid-layout .block.has-two-columns:not(.ignore-mobile) {
      grid-template-columns: 1fr;
    }
  }
  .grid-row .grid-layout.has-two-columns.leftwide, .grid-row .grid-layout .block.has-two-columns.leftwide {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-row .grid-layout.has-two-columns.leftwide > *:nth-child(2n+1), .grid-row .grid-layout .block.has-two-columns.leftwide > *:nth-child(2n+1) {
    grid-column: auto/span 1;
  }
  .grid-row .grid-layout.has-two-columns.leftwide > *:nth-child(2n+2), .grid-row .grid-layout .block.has-two-columns.leftwide > *:nth-child(2n+2) {
    grid-column: auto/span 2;
  }
  @media (max-width: 767px) {
    .grid-row .grid-layout.has-two-columns.leftwide:not(.ignore-tablet), .grid-row .grid-layout .block.has-two-columns.leftwide:not(.ignore-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    .grid-row .grid-layout.has-two-columns.leftwide:not(.ignore-tablet) > *:nth-child(1n+1), .grid-row .grid-layout .block.has-two-columns.leftwide:not(.ignore-tablet) > *:nth-child(1n+1) {
      grid-column: auto/span 3;
    }
  }
  @media (max-width: 575px) {
    .grid-row .grid-layout.has-two-columns.leftwide:not(.ignore-phablet), .grid-row .grid-layout .block.has-two-columns.leftwide:not(.ignore-phablet) {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 480px) {
    .grid-row .grid-layout.has-two-columns.leftwide:not(.ignore-mobile), .grid-row .grid-layout .block.has-two-columns.leftwide:not(.ignore-mobile) {
      grid-template-columns: 1fr;
    }
  }
  .grid-row .grid-layout.has-two-columns.rightwide, .grid-row .grid-layout .block.has-two-columns.rightwide {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-row .grid-layout.has-two-columns.rightwide > *:nth-child(2n+1), .grid-row .grid-layout .block.has-two-columns.rightwide > *:nth-child(2n+1) {
    grid-column: auto/span 2;
  }
  .grid-row .grid-layout.has-two-columns.rightwide > *:nth-child(2n+2), .grid-row .grid-layout .block.has-two-columns.rightwide > *:nth-child(2n+2) {
    grid-column: auto/span 1;
  }
  @media (max-width: 767px) {
    .grid-row .grid-layout.has-two-columns.rightwide:not(.ignore-tablet), .grid-row .grid-layout .block.has-two-columns.rightwide:not(.ignore-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    .grid-row .grid-layout.has-two-columns.rightwide:not(.ignore-tablet) > *:nth-child(1n+1), .grid-row .grid-layout .block.has-two-columns.rightwide:not(.ignore-tablet) > *:nth-child(1n+1) {
      grid-column: auto/span 3;
    }
  }
  @media (max-width: 575px) {
    .grid-row .grid-layout.has-two-columns.rightwide:not(.ignore-phablet), .grid-row .grid-layout .block.has-two-columns.rightwide:not(.ignore-phablet) {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 480px) {
    .grid-row .grid-layout.has-two-columns.rightwide:not(.ignore-mobile), .grid-row .grid-layout .block.has-two-columns.rightwide:not(.ignore-mobile) {
      grid-template-columns: 1fr;
    }
  }
  .grid-row .grid-layout.has-three-columns {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 920px) {
    .grid-row .grid-layout.has-three-columns:not(.ignore-large-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    .grid-row .grid-layout.has-three-columns:not(.ignore-large-tablet) > *:nth-child(1n+1) {
      grid-column: auto/span 1;
    }
    .grid-row .grid-layout.has-three-columns:not(.ignore-large-tablet) > *:nth-last-child(1) {
      grid-column: auto/span 2;
    }
  }
  @media (max-width: 767px) {
    .grid-row .grid-layout.has-three-columns:not(.ignore-tablet) {
      grid-template-columns: repeat(1, 1fr);
    }
    .grid-row .grid-layout.has-three-columns:not(.ignore-tablet) > *:nth-child(1n+1) {
      grid-column: auto/span 1;
    }
  }
  @media (max-width: 480px) {
    .grid-row .grid-layout.has-three-columns:not(.ignore-mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .grid-row .grid-layout.has-three-columns.leftwide {
    grid-template: auto/repeat(8, 1fr);
  }
  .grid-row .grid-layout.has-three-columns.leftwide > *:nth-child(3n+1) {
    grid-column: auto/span 4;
  }
  .grid-row .grid-layout.has-three-columns.leftwide > *:nth-child(3n+2) {
    grid-column: auto/span 2;
  }
  .grid-row .grid-layout.has-three-columns.leftwide > *:nth-child(3n+3) {
    grid-column: auto/span 2;
  }
  @media (max-width: 1000px) {
    .grid-row .grid-layout.has-three-columns.leftwide:not(.ignore-medium) > *:nth-child(3n+1) {
      grid-column: auto/span 4;
    }
    .grid-row .grid-layout.has-three-columns.leftwide:not(.ignore-medium) > *:nth-child(3n+2) {
      grid-column: auto/span 4;
    }
    .grid-row .grid-layout.has-three-columns.leftwide:not(.ignore-medium) > *:nth-child(3n+3) {
      grid-column: auto/span 8;
    }
  }
  @media (max-width: 920px) {
    .grid-row .grid-layout.has-three-columns.leftwide > *:nth-child(3n+1) {
      grid-column: auto/span 4;
    }
    .grid-row .grid-layout.has-three-columns.leftwide > *:nth-child(3n+2) {
      grid-column: auto/span 4;
    }
    .grid-row .grid-layout.has-three-columns.leftwide > *:nth-child(3n+3) {
      grid-column: auto/span 8;
    }
    .grid-row .grid-layout.has-three-columns.leftwide:not(.ignore-large-tablet) > *:nth-child(3n+1) {
      grid-column: auto/span 4;
    }
    .grid-row .grid-layout.has-three-columns.leftwide:not(.ignore-large-tablet) > *:nth-child(3n+2) {
      grid-column: auto/span 4;
    }
    .grid-row .grid-layout.has-three-columns.leftwide:not(.ignore-large-tablet) > *:nth-child(3n+3) {
      grid-column: auto/span 8;
    }
  }
  @media (max-width: 767px) {
    .grid-row .grid-layout.has-three-columns.leftwide > *:nth-child(3n+1) {
      grid-column: auto/span 4;
    }
    .grid-row .grid-layout.has-three-columns.leftwide > *:nth-child(3n+2) {
      grid-column: auto/span 4;
    }
    .grid-row .grid-layout.has-three-columns.leftwide > *:nth-child(3n+3) {
      grid-column: auto/span 8;
    }
    .grid-row .grid-layout.has-three-columns.leftwide:not(.ignore-tablet) > *:nth-child(3n+1) {
      grid-column: auto/span 8;
    }
    .grid-row .grid-layout.has-three-columns.leftwide:not(.ignore-tablet) > *:nth-child(3n+2) {
      grid-column: auto/span 8;
    }
    .grid-row .grid-layout.has-three-columns.leftwide:not(.ignore-tablet) > *:nth-child(3n+3) {
      grid-column: auto/span 8;
    }
  }
  @media (max-width: 575px) {
    .grid-row .grid-layout.has-three-columns.leftwide:not(.ignore-phablet) > *:nth-child(3n+1) {
      grid-column: auto/span 8;
    }
    .grid-row .grid-layout.has-three-columns.leftwide:not(.ignore-phablet) > *:nth-child(3n+2) {
      grid-column: auto/span 8;
    }
    .grid-row .grid-layout.has-three-columns.leftwide:not(.ignore-phablet) > *:nth-child(3n+3) {
      grid-column: auto/span 8;
    }
  }
  @media (max-width: 480px) {
    .grid-row .grid-layout.has-three-columns.leftwide:not(.ignore-mobile) > *:nth-child(3n+1) {
      grid-column: auto/span 8;
    }
    .grid-row .grid-layout.has-three-columns.leftwide:not(.ignore-mobile) > *:nth-child(3n+2) {
      grid-column: auto/span 8;
    }
    .grid-row .grid-layout.has-three-columns.leftwide:not(.ignore-mobile) > *:nth-child(3n+3) {
      grid-column: auto/span 8;
    }
  }
  @media (max-width: 375px) {
    .grid-row .grid-layout.has-three-columns.leftwide > *:nth-child(3n+1) {
      grid-column: auto/span 8;
    }
    .grid-row .grid-layout.has-three-columns.leftwide > *:nth-child(3n+2) {
      grid-column: auto/span 8;
    }
    .grid-row .grid-layout.has-three-columns.leftwide > *:nth-child(3n+3) {
      grid-column: auto/span 8;
    }
  }
  .grid-row .grid-layout.has-three-columns.rightwide {
    grid-template: 1fr/repeat(8, 1fr);
  }
  .grid-row .grid-layout.has-three-columns.rightwide > *:nth-child(3n+1) {
    grid-column: auto/span 2;
  }
  .grid-row .grid-layout.has-three-columns.rightwide > *:nth-child(3n+2) {
    grid-column: auto/span 2;
  }
  .grid-row .grid-layout.has-three-columns.rightwide > *:nth-child(3n+3) {
    grid-column: auto/span 4;
  }
  @media (max-width: 1000px) {
    .grid-row .grid-layout.has-three-columns.rightwide:not(.ignore-medium) > *:nth-child(3n+1) {
      grid-column: auto/span 4;
    }
    .grid-row .grid-layout.has-three-columns.rightwide:not(.ignore-medium) > *:nth-child(3n+2) {
      grid-column: auto/span 4;
    }
    .grid-row .grid-layout.has-three-columns.rightwide:not(.ignore-medium) > *:nth-child(3n+3) {
      grid-column: auto/span 8;
    }
  }
  @media (max-width: 920px) {
    .grid-row .grid-layout.has-three-columns.rightwide > *:nth-child(3n+1) {
      grid-column: auto/span 4;
    }
    .grid-row .grid-layout.has-three-columns.rightwide > *:nth-child(3n+2) {
      grid-column: auto/span 4;
    }
    .grid-row .grid-layout.has-three-columns.rightwide > *:nth-child(3n+3) {
      grid-column: auto/span 8;
    }
    .grid-row .grid-layout.has-three-columns.rightwide:not(.ignore-large-tablet) > *:nth-child(3n+1) {
      grid-column: auto/span 4;
    }
    .grid-row .grid-layout.has-three-columns.rightwide:not(.ignore-large-tablet) > *:nth-child(3n+2) {
      grid-column: auto/span 4;
    }
    .grid-row .grid-layout.has-three-columns.rightwide:not(.ignore-large-tablet) > *:nth-child(3n+3) {
      grid-column: auto/span 8;
    }
  }
  @media (max-width: 767px) {
    .grid-row .grid-layout.has-three-columns.rightwide > *:nth-child(3n+1) {
      grid-column: auto/span 4;
    }
    .grid-row .grid-layout.has-three-columns.rightwide > *:nth-child(3n+2) {
      grid-column: auto/span 4;
    }
    .grid-row .grid-layout.has-three-columns.rightwide > *:nth-child(3n+3) {
      grid-column: auto/span 8;
    }
    .grid-row .grid-layout.has-three-columns.rightwide:not(.ignore-tablet) > *:nth-child(3n+1) {
      grid-column: auto/span 8;
    }
    .grid-row .grid-layout.has-three-columns.rightwide:not(.ignore-tablet) > *:nth-child(3n+2) {
      grid-column: auto/span 8;
    }
    .grid-row .grid-layout.has-three-columns.rightwide:not(.ignore-tablet) > *:nth-child(3n+3) {
      grid-column: auto/span 8;
    }
  }
  @media (max-width: 575px) {
    .grid-row .grid-layout.has-three-columns.rightwide:not(.ignore-phablet) > *:nth-child(3n+1) {
      grid-column: auto/span 8;
    }
    .grid-row .grid-layout.has-three-columns.rightwide:not(.ignore-phablet) > *:nth-child(3n+2) {
      grid-column: auto/span 8;
    }
    .grid-row .grid-layout.has-three-columns.rightwide:not(.ignore-phablet) > *:nth-child(3n+3) {
      grid-column: auto/span 8;
    }
  }
  @media (max-width: 480px) {
    .grid-row .grid-layout.has-three-columns.rightwide:not(.ignore-mobile) > *:nth-child(3n+1) {
      grid-column: auto/span 8;
    }
    .grid-row .grid-layout.has-three-columns.rightwide:not(.ignore-mobile) > *:nth-child(3n+2) {
      grid-column: auto/span 8;
    }
    .grid-row .grid-layout.has-three-columns.rightwide:not(.ignore-mobile) > *:nth-child(3n+3) {
      grid-column: auto/span 8;
    }
  }
  @media (max-width: 375px) {
    .grid-row .grid-layout.has-three-columns.rightwide > *:nth-child(3n+1) {
      grid-column: auto/span 8;
    }
    .grid-row .grid-layout.has-three-columns.rightwide > *:nth-child(3n+2) {
      grid-column: auto/span 8;
    }
    .grid-row .grid-layout.has-three-columns.rightwide > *:nth-child(3n+3) {
      grid-column: auto/span 8;
    }
  }
  .grid-row .grid-layout.has-three-columns.threeleft-split {
    grid-template: repeat(2, auto)/repeat(8, 1fr);
  }
  .grid-row .grid-layout.has-three-columns.threeleft-split > *:nth-child(3n+1) {
    grid-column: auto/span 4;
    grid-row: 1;
  }
  .grid-row .grid-layout.has-three-columns.threeleft-split > *:nth-child(3n+2) {
    grid-column: auto/span 4;
    grid-row: 2;
  }
  .grid-row .grid-layout.has-three-columns.threeleft-split > *:nth-child(3n+3) {
    grid-column: auto/span 4;
    grid-row: 1/span 2;
  }
  @media (max-width: 575px) {
    .grid-row .grid-layout.has-three-columns.threeleft-split:not(.ignore-phablet) > *:nth-child(1n+1) {
      grid-column: auto/span 8;
      grid-row: auto;
    }
  }
  @media (max-width: 480px) {
    .grid-row .grid-layout.has-three-columns.threeleft-split.ignore-phablet > *:nth-child(1n+1) {
      grid-column: auto/span 8;
      grid-row: auto;
    }
  }
  .grid-row .grid-layout.has-three-columns.threeright-split {
    grid-template: repeat(2, auto)/repeat(8, 1fr);
  }
  .grid-row .grid-layout.has-three-columns.threeright-split > *:nth-child(3n+1) {
    grid-column: auto/span 4;
    grid-row: 1/span 2;
  }
  .grid-row .grid-layout.has-three-columns.threeright-split > *:nth-child(3n+2) {
    grid-column: auto/span 4;
    grid-row: 1;
  }
  .grid-row .grid-layout.has-three-columns.threeright-split > *:nth-child(3n+3) {
    grid-column: auto/span 4;
    grid-row: 2;
  }
  @media (max-width: 575px) {
    .grid-row .grid-layout.has-three-columns.threeright-split:not(.ignore-phablet) > *:nth-child(1n+1) {
      grid-column: auto/span 8;
      grid-row: auto;
    }
  }
  @media (max-width: 480px) {
    .grid-row .grid-layout.has-three-columns.threeright-split.ignore-phablet > *:nth-child(1n+1) {
      grid-column: auto/span 8;
      grid-row: auto;
    }
  }
  .grid-row .grid-layout.has-three-columns.eighty {
    max-width: 80%;
    margin: auto;
  }
  @media (max-width: 767px) {
    .grid-row .grid-layout.has-three-columns.eighty {
      max-width: 100%;
    }
  }
  .grid-row .grid-layout.has-three-columns.sixty {
    max-width: 60%;
    margin: auto;
  }
  @media (max-width: 767px) {
    .grid-row .grid-layout.has-three-columns.sixty {
      max-width: 100%;
    }
  }
  .grid-row .grid-layout.has-three-columns.fifty {
    max-width: 50%;
    margin: auto;
  }
  @media (max-width: 767px) {
    .grid-row .grid-layout.has-three-columns.fifty {
      max-width: 100%;
    }
  }
  .grid-row .grid-layout.has-four-columns.row-four {
    grid-template: repeat(1, auto)/repeat(4, 1fr);
  }
  @media (max-width: 1000px) {
    .grid-row .grid-layout.has-four-columns.row-four:not(.ignore-medium) {
      grid-template: repeat(2, auto)/repeat(2, 1fr);
    }
  }
  @media (max-width: 920px) {
    .grid-row .grid-layout.has-four-columns.row-four.ignore-medium {
      grid-template: repeat(2, auto)/repeat(2, 1fr);
    }
    .grid-row .grid-layout.has-four-columns.row-four:not(.ignore-large-tablet) {
      grid-template: repeat(2, auto)/repeat(2, 1fr);
    }
  }
  @media (max-width: 767px) {
    .grid-row .grid-layout.has-four-columns.row-four:not(.ignore-tablet) {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 575px) {
    .grid-row .grid-layout.has-four-columns.row-four:not(.ignore-phablet) {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 480px) {
    .grid-row .grid-layout.has-four-columns.row-four:not(.ignore-mobile) {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 375px) {
    .grid-row .grid-layout.has-four-columns.row-four {
      grid-template-columns: 1fr !important;
    }
  }
  .grid-row .grid-layout.has-four-columns.grid-four {
    grid-template: repeat(2, auto)/repeat(2, 1fr);
  }
  @media (max-width: 575px) {
    .grid-row .grid-layout.has-four-columns.grid-four:not(.ignore-phablet) {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 480px) {
    .grid-row .grid-layout.has-four-columns.grid-four.ignore-phablet {
      grid-template-columns: 1fr;
    }
  }
  .grid-row .grid-layout.has-five-columns {
    grid-template: repeat(1, auto)/repeat(5, 1fr);
  }
  @media (max-width: 1000px) {
    .grid-row .grid-layout.has-five-columns:not(.ignore-medium) {
      grid-template: auto/repeat(12, 1fr);
    }
    .grid-row .grid-layout.has-five-columns:not(.ignore-medium) > *:nth-child(1n+1) {
      grid-column: auto/span 4;
    }
    .grid-row .grid-layout.has-five-columns:not(.ignore-medium) > *:nth-child(5n+4) {
      grid-column: 3/span 4;
    }
    .grid-row .grid-layout.has-five-columns:not(.ignore-medium) > *:nth-child(5n+5) {
      grid-column: auto/span 4;
    }
  }
  @media (max-width: 920px) {
    .grid-row .grid-layout.has-five-columns:not(.ignore-large-tablet) {
      grid-template: auto/repeat(4, 1fr);
    }
    .grid-row .grid-layout.has-five-columns:not(.ignore-large-tablet) > *:nth-child(1n+1) {
      grid-column: auto/span 2;
    }
    .grid-row .grid-layout.has-five-columns:not(.ignore-large-tablet) > *:nth-last-child(1) {
      grid-column: auto/span 4;
    }
  }
  @media (max-width: 767px) {
    .grid-row .grid-layout.has-five-columns:not(.ignore-tablet) {
      grid-template: auto/repeat(2, 1fr);
    }
    .grid-row .grid-layout.has-five-columns:not(.ignore-tablet) > *:nth-child(1n+1) {
      grid-column: auto/span 2;
    }
  }
  @media (max-width: 575px) {
    .grid-row .grid-layout.has-five-columns:not(.ignore-phablet) {
      grid-template: auto/repeat(2, 1fr);
    }
    .grid-row .grid-layout.has-five-columns:not(.ignore-phablet) > *:nth-child(1n+1) {
      grid-column: auto/span 2;
    }
  }
  .grid-row .grid-layout.has-six-columns {
    grid-template: repeat(1, auto)/repeat(6, 1fr);
  }
  @media (max-width: 1100px) {
    .grid-row .grid-layout.has-six-columns:not(.ignore-medium) {
      grid-template: repeat(2, auto)/repeat(3, 1fr);
    }
  }
  @media (max-width: 1000px) {
    .grid-row .grid-layout.has-six-columns:not(.ignore-medium) {
      grid-template: repeat(2, auto)/repeat(2, 1fr);
    }
  }
  @media (max-width: 767px) {
    .grid-row .grid-layout.has-six-columns:not(.ignore-tablet) {
      grid-template: repeat(3, auto)/repeat(1, 1fr);
    }
  }
  @media (max-width: 575px) {
    .grid-row .grid-layout.has-six-columns:not(.ignore-mobile) {
      grid-template: repeat(6, auto)/1fr;
    }
  }
}
html.no-cssgrid .grid-row .grid_layouts {
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
}
html.no-cssgrid .grid-row .grid_layouts .block {
  display: inline-block;
}
html.no-cssgrid .grid-row .grid_layouts.standard {
  max-width: 800px;
  margin: 0 auto;
}
html.no-cssgrid .grid-row .grid_layouts.alignwide {
  max-width: 1000px;
  margin: 0 auto;
}
html.no-cssgrid .grid-row .grid_layouts.alignfull {
  max-width: 1800px;
  margin: 0 auto;
}
html.no-cssgrid .grid-row .grid_layouts.has-one-column .block {
  width: 100%;
}
html.no-cssgrid .grid-row .grid_layouts.has-two-columns .block {
  width: 49%;
  min-width: 280px;
}
html.no-cssgrid .grid-row .grid_layouts.has-two-columns .block:nth-child(2n+1) {
  margin-right: 1%;
  margin-left: 0;
}
html.no-cssgrid .grid-row .grid_layouts.has-two-columns .block:nth-child(2n+2) {
  margin-right: 0;
  margin-left: 1%;
}
@media (max-width: 575px) {
  html.no-cssgrid .grid-row .grid_layouts.has-two-columns .block:nth-child(1n) {
    width: 100% !important;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-two-columns .block:nth-child(2n+1) {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 1em;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-two-columns .block:nth-child(2n+2) {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
}
html.no-cssgrid .grid-row .grid_layouts.has-two-columns.rightwide .block {
  min-width: 150px;
}
html.no-cssgrid .grid-row .grid_layouts.has-two-columns.rightwide .block:nth-child(2n+1) {
  width: 29%;
  margin-right: 1%;
  margin-left: 0;
}
html.no-cssgrid .grid-row .grid_layouts.has-two-columns.rightwide .block:nth-child(2n+2) {
  width: 69%;
  margin-right: 0;
  margin-left: 1%;
}
@media (max-width: 767px) {
  html.no-cssgrid .grid-row .grid_layouts.has-two-columns.rightwide .block:nth-child(1n) {
    width: 49%;
    min-width: 280px;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-two-columns.rightwide .block:nth-child(2n+1) {
    margin-right: 1%;
    margin-left: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-two-columns.rightwide .block:nth-child(2n+2) {
    margin-right: 0;
    margin-left: 1%;
  }
}
html.no-cssgrid .grid-row .grid_layouts.has-two-columns.leftwide .block {
  min-width: 150px;
}
html.no-cssgrid .grid-row .grid_layouts.has-two-columns.leftwide .block:nth-child(2n+1) {
  width: 69%;
  margin-right: 1%;
  margin-left: 0;
}
html.no-cssgrid .grid-row .grid_layouts.has-two-columns.leftwide .block:nth-child(2n+2) {
  width: 29%;
  margin-right: 0;
  margin-left: 1%;
}
@media (max-width: 767px) {
  html.no-cssgrid .grid-row .grid_layouts.has-two-columns.leftwide .block:nth-child(1n) {
    width: 49%;
    min-width: 280px;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-two-columns.leftwide .block:nth-child(2n+1) {
    margin-right: 1%;
    margin-left: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-two-columns.leftwide .block:nth-child(2n+2) {
    margin-right: 0;
    margin-left: 1%;
  }
}
html.no-cssgrid .grid-row .grid_layouts.has-three-columns .block {
  width: 32%;
  min-width: 220px;
  box-sizing: initial;
  vertical-align: top;
}
html.no-cssgrid .grid-row .grid_layouts.has-three-columns .block img {
  max-width: 100%;
}
html.no-cssgrid .grid-row .grid_layouts.has-three-columns .block:nth-child(3n+1) {
  margin-right: 0;
}
html.no-cssgrid .grid-row .grid_layouts.has-three-columns .block:nth-child(3n+2) {
  margin-left: 2%;
  margin-right: 2%;
}
html.no-cssgrid .grid-row .grid_layouts.has-three-columns .block:nth-child(3n+3) {
  margin-left: 0;
}
@media (max-width: 767px) {
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns .block {
    width: 50%;
    margin-bottom: 1em;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns .block:nth-child(2n+1) {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns .block:nth-child(2n+2) {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns .block:nth-last-child(1) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
}
@media (max-width: 575px) {
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns .block {
    width: 100%;
    margin-bottom: 1em;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns .block:nth-child(2n+1) {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns .block:nth-child(2n+2) {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
}
html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeleft-split .block, html.no-cssgrid .grid-row .grid_layouts.has-three-columns.rightwide .block {
  min-width: 120px;
}
html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeleft-split .block:nth-child(3n+1), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.rightwide .block:nth-child(3n+1) {
  width: 24%;
  margin-right: 0;
}
html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeleft-split .block:nth-child(3n+2), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.rightwide .block:nth-child(3n+2) {
  width: 24%;
  margin-left: 2%;
  margin-right: 2%;
}
html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeleft-split .block:nth-child(3n+3), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.rightwide .block:nth-child(3n+3) {
  width: 48%;
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 767px) {
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeleft-split .block:nth-child(1n), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.rightwide .block:nth-child(1n) {
    width: 50%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeleft-split .block:nth-child(3n+1), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.rightwide .block:nth-child(3n+1) {
    margin-left: 0;
    margin-right: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeleft-split .block:nth-child(3n+2), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.rightwide .block:nth-child(3n+2) {
    margin-left: 0;
    margin-right: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeleft-split .block:nth-child(3n+3), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.rightwide .block:nth-child(3n+3) {
    margin-left: 0;
    margin-right: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeleft-split .block:nth-last-child(1), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.rightwide .block:nth-last-child(1) {
    width: 100%;
    margin-bottom: 0;
  }
}
@media (max-width: 575px) {
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeleft-split .block:nth-child(1n), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.rightwide .block:nth-child(1n) {
    width: 100%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeleft-split .block:nth-child(3n+1), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.rightwide .block:nth-child(3n+1) {
    margin-left: 0;
    margin-right: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeleft-split .block:nth-child(3n+2), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.rightwide .block:nth-child(3n+2) {
    margin-left: 0;
    margin-right: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeleft-split .block:nth-child(3n+3), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.rightwide .block:nth-child(3n+3) {
    margin-left: 0;
    margin-right: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeleft-split .block:nth-last-child(1), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.rightwide .block:nth-last-child(1) {
    margin-bottom: 0;
    font-size: 100%;
  }
}
html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeright-split .block, html.no-cssgrid .grid-row .grid_layouts.has-three-columns.leftwide .block {
  min-width: 120px;
}
html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeright-split .block:nth-child(3n+1), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.leftwide .block:nth-child(3n+1) {
  width: 48%;
  margin-right: 0;
}
html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeright-split .block:nth-child(3n+2), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.leftwide .block:nth-child(3n+2) {
  width: 24%;
  margin-left: 2%;
  margin-right: 2%;
}
html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeright-split .block:nth-child(3n+3), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.leftwide .block:nth-child(3n+3) {
  width: 24%;
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 767px) {
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeright-split .block:nth-child(1n), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.leftwide .block:nth-child(1n) {
    width: 50%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeright-split .block:nth-child(3n+1), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.leftwide .block:nth-child(3n+1) {
    margin-left: 0;
    margin-right: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeright-split .block:nth-child(3n+2), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.leftwide .block:nth-child(3n+2) {
    margin-left: 0;
    margin-right: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeright-split .block:nth-child(3n+3), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.leftwide .block:nth-child(3n+3) {
    margin-left: 0;
    margin-right: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeright-split .block:nth-last-child(1), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.leftwide .block:nth-last-child(1) {
    width: 100%;
    margin-bottom: 0;
  }
}
@media (max-width: 575px) {
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeright-split .block:nth-child(1n), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.leftwide .block:nth-child(1n) {
    width: 100%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeright-split .block:nth-child(3n+1), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.leftwide .block:nth-child(3n+1) {
    margin-left: 0;
    margin-right: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeright-split .block:nth-child(3n+2), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.leftwide .block:nth-child(3n+2) {
    margin-left: 0;
    margin-right: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeright-split .block:nth-child(3n+3), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.leftwide .block:nth-child(3n+3) {
    margin-left: 0;
    margin-right: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-three-columns.threeright-split .block:nth-last-child(1), html.no-cssgrid .grid-row .grid_layouts.has-three-columns.leftwide .block:nth-last-child(1) {
    margin-bottom: 0;
    font-size: 100%;
  }
}
html.no-cssgrid .grid-row .grid_layouts.has-four-columns .block {
  width: 23.5%;
  min-width: 135px;
  box-sizing: initial;
  vertical-align: top;
}
html.no-cssgrid .grid-row .grid_layouts.has-four-columns .block img {
  max-width: 100%;
}
html.no-cssgrid .grid-row .grid_layouts.has-four-columns .block:nth-child(4n+1) {
  margin-right: 1%;
}
html.no-cssgrid .grid-row .grid_layouts.has-four-columns .block:nth-child(4n+2) {
  margin-left: 1%;
  margin-right: 1%;
}
html.no-cssgrid .grid-row .grid_layouts.has-four-columns .block:nth-child(4n+3) {
  margin-left: 1%;
  margin-right: 1%;
}
html.no-cssgrid .grid-row .grid_layouts.has-four-columns .block:nth-child(4n+4) {
  margin-left: 1%;
}
@media (max-width: 1000px) {
  html.no-cssgrid .grid-row .grid_layouts.has-four-columns .block {
    width: 48%;
    margin-bottom: 4%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-four-columns .block:nth-child(4n+1) {
    margin-right: 1%;
    margin-left: 0%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-four-columns .block:nth-child(4n+2) {
    margin-right: 0%;
    margin-left: 1%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-four-columns .block:nth-child(4n+3) {
    margin-right: 1%;
    margin-left: 0%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-four-columns .block:nth-child(4n+4) {
    margin-right: 0%;
    margin-left: 1%;
  }
}
@media (max-width: 575px) {
  html.no-cssgrid .grid-row .grid_layouts.has-four-columns .block {
    width: 100%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-four-columns .block:nth-child(4n+1) {
    margin-right: 0%;
    margin-left: 0%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-four-columns .block:nth-child(4n+2) {
    margin-right: 0%;
    margin-left: 0%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-four-columns .block:nth-child(4n+3) {
    margin-right: 0%;
    margin-left: 0%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-four-columns .block:nth-child(4n+4) {
    margin-right: 0%;
    margin-left: 0%;
  }
}
html.no-cssgrid .grid-row .grid_layouts.has-five-columns .block {
  width: 18.5%;
  margin-bottom: 1%;
  box-sizing: initial;
  vertical-align: top;
}
html.no-cssgrid .grid-row .grid_layouts.has-five-columns .block img {
  max-width: 100%;
}
html.no-cssgrid .grid-row .grid_layouts.has-five-columns .block:nth-child(5n+1) {
  margin-right: 1%;
}
html.no-cssgrid .grid-row .grid_layouts.has-five-columns .block:nth-child(5n+2) {
  margin-left: 1%;
  margin-right: 1%;
}
html.no-cssgrid .grid-row .grid_layouts.has-five-columns .block:nth-child(5n+3) {
  margin-left: 1%;
  margin-right: 1%;
}
html.no-cssgrid .grid-row .grid_layouts.has-five-columns .block:nth-child(5n+4) {
  margin-left: 1%;
}
html.no-cssgrid .grid-row .grid_layouts.has-five-columns .block:nth-child(5n+5) {
  margin-left: 1%;
}
@media (max-width: 1000px) {
  html.no-cssgrid .grid-row .grid_layouts.has-five-columns .block {
    width: 48%;
    margin-bottom: 4%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-five-columns .block:nth-child(5n+1) {
    margin-right: 1%;
    margin-left: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-five-columns .block:nth-child(5n+2) {
    margin-right: 0;
    margin-left: 1%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-five-columns .block:nth-child(5n+3) {
    margin-right: 1%;
    margin-left: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-five-columns .block:nth-child(5n+4) {
    margin-right: 0;
    margin-left: 1%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-five-columns .block:nth-child(5n+5) {
    margin-left: 1%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-five-columns .block:nth-last-child(1) {
    width: 100%;
  }
}
@media (max-width: 575px) {
  html.no-cssgrid .grid-row .grid_layouts.has-five-columns .block {
    width: 100%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-five-columns .block:nth-child(5n+1) {
    margin-right: 0;
    margin-left: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-five-columns .block:nth-child(5n+2) {
    margin-right: 0;
    margin-left: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-five-columns .block:nth-child(5n+3) {
    margin-right: 0;
    margin-left: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-five-columns .block:nth-child(5n+4) {
    margin-right: 0;
    margin-left: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-five-columns .block:nth-child(5n+5) {
    margin-left: 1%;
  }
}
html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block {
  width: 15.3%;
  margin-bottom: 1%;
  box-sizing: initial;
  vertical-align: top;
}
html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block img {
  max-width: 100%;
}
html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block:nth-child(6n+1) {
  margin-right: 1%;
}
html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block:nth-child(6n+2) {
  margin-left: 1%;
  margin-right: 1%;
}
html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block:nth-child(6n+3) {
  margin-left: 1%;
  margin-right: 1%;
}
html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block:nth-child(6n+4) {
  margin-left: 1%;
}
html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block:nth-child(6n+5) {
  margin-left: 1%;
}
html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block:nth-child(6n+6) {
  margin-left: 1%;
}
@media (max-width: 1000px) {
  html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block {
    width: 31.6%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block:nth-child(3n+1) {
    margin-right: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block:nth-child(3n+2) {
    margin-left: 2%;
    margin-right: 2%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block:nth-child(3n+3) {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block {
    width: 48%;
    margin-bottom: 4%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block:nth-child(6n+1) {
    margin-right: 1%;
    margin-left: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block:nth-child(6n+2) {
    margin-right: 0;
    margin-left: 1%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block:nth-child(6n+3) {
    margin-right: 1%;
    margin-left: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block:nth-child(6n+4) {
    margin-right: 0;
    margin-left: 1%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block:nth-child(6n+5) {
    margin-left: 1%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block:nth-child(6n+6) {
    margin-left: 1%;
  }
}
@media (max-width: 575px) {
  html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block {
    width: 100%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block:nth-child(6n+1) {
    margin-right: 0;
    margin-left: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block:nth-child(6n+2) {
    margin-right: 0;
    margin-left: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block:nth-child(6n+3) {
    margin-right: 0;
    margin-left: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block:nth-child(6n+4) {
    margin-right: 0;
    margin-left: 0;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block:nth-child(6n+5) {
    margin-left: 1%;
  }
  html.no-cssgrid .grid-row .grid_layouts.has-six-columns .block:nth-child(6n+6) {
    margin-left: 1%;
  }
}

* {
  max-width: var(--measure);
}

html,
body,
div,
header,
nav,
main,
section,
grid-l,
footer {
  max-width: none;
}

.max-width\:measure {
  max-width: var(--measure);
}

.max-width\:measure\/2 {
  max-width: calc(var(--measure) / 2);
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.radius {
  border-radius: 0.5rem;
}

.splitter > :last-child {
  margin-top: 1.5rem;
}
@media (min-width: 48em) {
  .splitter {
    display: flex;
  }
  .splitter > * {
    flex-grow: 1;
  }
  .splitter > :last-child {
    margin-top: 0;
    margin-left: 1.5rem;
    min-width: 22rem;
  }
}

.wrapper {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.stack {
  --space: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--space);
}

.box {
  /* ↓ Padding set to the first point on the modular scale */
  padding: var(--s1);
  /* ↓ Assumes you have a --border-thin var */
  border: var(--border-thin) solid;
  /* ↓ Always apply the transparent outline, for high contrast mode */
  outline: var(--border-thin) transparent;
  outline-offset: calc(var(--border-thin) * -1);
  /* ↓ The light and dark color vars */
  --color-light: #fff;
  --color-dark: #000;
  color: var(--color-dark);
  background-color: var(--color-light);
}

.box * {
  /* ↓ Force colors to inherit from the parent
  and honor inversion (below) */
  color: inherit;
}

.box.invert {
  /* ↓ The color vars inverted */
  color: var(--color-light);
  background-color: var(--color-dark);
}

.center-l {
  /* ↓ Remove padding from the width calculation */
  box-sizing: content-box;
  /* ↓ The maximum width is the maximum measure */
  max-width: 60ch;
  /* ↓ Only affect horizontal margins */
  margin-left: auto;
  margin-right: auto;
  /* ↓ Apply the minimum horizontal space */
  padding-left: var(--s1);
  padding-right: var(--s1);
}

.grid {
  /* ↓ Establish a grid context */
  display: grid;
  /* ↓ Set a gap between grid items equal to the
  first point on the modular scale */
  grid-gap: var(--s1);
  grid-template-columns: 100%;
}

.grid.aboveMin {
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--measure) / 3), 1fr));
}

.frame {
  --n: 6;
  --d: 9;
  padding-bottom: calc(var(--n) / var(--d) * 100%);
  position: relative;
}

.frame > * {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame > img,
.frame > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=index.css.map */
